.md_api_route_example {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--dark_color);
  color: white;
  border-radius: 4px;
  padding: 0.6rem 1.4rem;
  margin-bottom: 1rem;
}

[data-theme="dark"] .md_api_route_example {
  background-color: var(--dark_color_code);
}

.md_api_route_example .request {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  max-width: 100%;
  overflow-x: auto;
}

.md_api_route_example .request div {
  margin-bottom: 0 !important;
}

.md_api_route_example .request .url {
  width: 100%;
}

.md_api_route_example .code code {
  padding: 0 !important;
  margin-top: 0.6rem;
}

.md_api_route_example .view-options {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0 1rem;
}

.md_api_route_example .view-options > button {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  width: 100%;
  border-radius: 3px;
}

.md_api_route_example .view-options > button.selected {
  color: black;
  background-color: white;
}
