/* From uiverse.io by @adamgiebl */
.cssbuttons-io {
  position: relative;
  border: none;
  background: linear-gradient(30deg, #b645db, #590ce8);
  color: black;
  overflow: hidden;
  width: 14rem;
  height: 3.5rem;
}

.cssbuttons-io:hover {
  color: white;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: '';
  background: rgb(226 232 240);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}
