.code-container * {
  font-family: 'FiraCode Regular';
}

.code-container {
  overflow-x: auto;
}

.code-container::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5352ed;
  border-radius: 999px;
}

.code-container * {
  font-family: 'FiraCode Regular';
}

.form-content {
  height: calc(100vh - 50px);
}
