::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7d5fff;
  border-radius: 999px;
}


.form-content {
  height: calc(100vh - 50px - 50px);
}

.custom-form-playground {
  height: calc(100vh - 50px - 50px - 41.5px) !important;
}
