.doc-content {
  line-height: 1.6;
}

.doc-content * {
  font-size: 1.2rem;
}

.doc-content a {
  color: #6366f1;
  margin-left: 5px;
  text-decoration: underline;
}

.doc-content h1 {
  font-family: "Cairo Bold";
  font-size: 2.6rem;
  line-height: 1.3;
}

.doc-content h2 {
  display: inline;
  font-family: "Cairo Bold";
}

.doc-content h3 {
  display: inline;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #6366f1;
  font-family: "Cairo Bold";
}

.doc-content h4 {
  font-family: "Cairo Bold";
  font-size: 2rem;
}

.doc-content li {
  display: flex;
}

.doc-content li > span {
  width: 10px;
  height: 10px;
  min-width: 10px;
  border-radius: 999px;
  background-color: black;
  position: relative;
  top: 10px;
  margin-right: 12px;
}

.doc-content p {
  color: #1a1a1a;
  display: block;
}

.doc-content code {
  padding: 2px 0.6rem;
  margin-left: 5px;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "FiraCode Regular";
  font-size: 1rem;
}

.search-input {
  color: #495057;
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}
.search-input:hover {
  border-color: #6366f1;
}
.search-input-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #c7d2fe;
  border-color: #6366f1;
}
