/* From uiverse.io */
.secondButton {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
}

.secondButton {
  width: 14rem;
  height: auto;
}

.secondButton .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 4rem;
  height: 4rem;
  background: #282936;
  border-radius: 999px;
}

.secondButton .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.secondButton .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 1.2rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.secondButton .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.secondButton .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  margin: 0 0 0 2.4rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.secondButton:hover .circle {
  width: 100%;
}

.secondButton:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.secondButton:hover .button-text {
  color: #fff;
}
