@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins Light";
  src: url("./assets//font/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("./assets//font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("./assets//font/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("./assets//font/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Extra Bold";
  src: url("./assets//font/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("./assets//font/Jetbrains/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("./assets//font/Jetbrains/JetBrainsMono-Bold.ttf");
}

@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("./assets//font/Jetbrains/JetBrainsMonoNL-SemiBold.ttf");
}

@font-face {
  font-family: "JetBrains Mono Light";
  src: url("./assets//font/Jetbrains/JetBrainsMono-Light.ttf");
}

* {
  font-family: "Poppins Regular";
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.fit-screen-box {
  height: calc(100vh - 65px);
  min-width: 600px;
  position: sticky;
}

.code-playground * {
  font-family: "JetBrains Mono Regular";
  font-size: 14px;
  background-color: #282c34;
}

.code-view * {
  font-family: "JetBrains Mono Regular";
  font-size: 13px;
}

.ͼ1 .cm-gutters {
  background-color: transparent !important;
}

.ͼg0 {
  background-color: transparent !important;
}
