@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: "Montserrat Light";
  src: url("./assets//font/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("./assets//font/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./assets//font/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat Extra Bold";
  src: url("./assets//font/Montserrat/Montserrat-ExtraBold.ttf");
}


@font-face {
  font-family: "Cairo Light";
  src: url("./assets//font/Cairo/Cairo-Light.ttf");
}

@font-face {
  font-family: "Cairo Regular";
  src: url("./assets//font/Cairo/Cairo-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Cairo Bold";
  src: url("./assets//font/Cairo/Cairo-Bold.ttf");
}

@font-face {
  font-family: "Cairo Extra Bold";
  src: url("./assets//font/Cairo/Cairo-ExtraBold.ttf");
}

@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("./assets//font/Jetbrains/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("./assets//font/Jetbrains/JetBrainsMono-Bold.ttf");
}

* {
  font-family: "Montserrat Regular";
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.fit-screen-box {
  height: calc(100vh - 50px);
  min-width: 600px;
  position: sticky;
}


.code-container * {
  font-family: "JetBrains Mono Regular";
  font-size: 14px;
}

.code-view * {
  font-family: "JetBrains Mono Regular";
  font-size: 13px;
}

.ͼ1 .cm-gutters{
  background-color: transparent !important;
}

.ͼg0{
  background-color: transparent !important;
}