@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cairo Light";
  src: url("./assets//font/Cairo/Cairo-Light.ttf");
}

@font-face {
  font-family: "Cairo Regular";
  src: url("./assets//font/Cairo/Cairo-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Cairo Bold";
  src: url("./assets//font/Cairo/Cairo-Bold.ttf");
}

@font-face {
  font-family: "Cairo Extra Bold";
  src: url("./assets//font/Cairo/Cairo-ExtraBold.ttf");
}

@font-face {
  font-family: "FiraCode Regular";
  src: url("./assets//font/Fira/FiraCode-Regular.ttf");
}

@font-face {
  font-family: "FiraCode Bold";
  src: url("./assets//font/Fira/FiraCode-Bold.ttf");
}

* {
  font-family: "Cairo Regular";
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.fit-screen-box {
  height: calc(100vh - 51.6px);
  position: sticky;
}
