@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cairo Light";
  src: url("./assets//font/Cairo/Cairo-Light.ttf");
}

@font-face {
  font-family: "Cairo Regular";
  src: url("./assets//font/Cairo/Cairo-Regular.ttf");
}

@font-face {
  font-family: "Cairo Bold";
  src: url("./assets//font/Cairo/Cairo-Bold.ttf");
}

@font-face {
  font-family: "Cairo Extra Bold";
  src: url("./assets//font/Cairo/Cairo-ExtraBold.ttf");
}

@font-face {
  font-family: "FiraCode Regular";
  src: url("./assets//font/Fira/FiraCode-Regular.ttf");
}

@font-face {
  font-family: "FiraCode Bold";
  src: url("./assets//font/Fira/FiraCode-Bold.ttf");
}

* {
  font-family: "Cairo Regular";
}

.code-cont * {
  font-family: "FiraCode Regular";
}

.json-container * {
  font-family: "FiraCode Regular";
}

.landing-page::-webkit-scrollbar {
  display: none;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.p-inputtext {
  font-size: inherit !important;
  padding: 0.1rem 1rem !important;
}

.p-component {
  font-size: inherit;
}

.p-radiobutton {
  width: 15px !important;
  height: 15px !important;
}

.p-radiobutton .p-radiobutton-box {
  width: 15px !important;
  height: 15px !important;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0rem 0 !important;
}

.p-inputtext {
  padding: 0.2rem 1rem !important;
  display: flex;
  width: 100%;
  font-family: "Cairo Regular" !important;
}

.p-dropdown {
  display: flex;
  width: 100%;
  font-family: "Cairo Regular" !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.2rem 0.9rem !important;
  font-size: 0.9rem !important;
}
